.edit-container {
    width: 336px;
    display: flex;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.mat-card-footer {
    padding: 10px;
    justify-content: space-around;
    display: flex;
}