<div class="content">
  <mat-card class="mat-elevation-z5">
    <mat-card-title class="text-center">
      <h1>{{ title }}</h1>
    </mat-card-title>
    <hr>
    <mat-card-subtitle class="text-center">
      <a mat-raised-button routerLink="/herolist">Heroes</a>
      <a mat-raised-button routerLink="/dashboard">Dashboard</a>
    </mat-card-subtitle>

    <mat-card-content>
      <router-outlet></router-outlet>
    </mat-card-content>

    <mat-card-content>
      <app-hero-audit-log></app-hero-audit-log>
    </mat-card-content>
  </mat-card>
</div>
